.slds-trial-header.slds-grid
  %div{class:  "slds-text-align_center slds-text-heading_large slds-col slds-size_1-of-4", id: 'services-header'} Samanage Services


#services{authenticityToken: @auth_token.to_json, availableServices: @available_services.to_json}