!!!
%html
  %head
    =favicon_link_tag 'S_Logo'
    %title Solarwinds ITSM Services
    %meta{name: "viewport", content:"width=device-width, initial-scale=1, shrink-to-fit=no", charset:"utf-8"}
    =csrf_meta_tags
    =stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload'
    =stylesheet_link_tag 'salesforce-lightning-design-system', media: 'all' 
    =javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    =javascript_pack_tag 'client'
  %body
    #app-content
      -if logged_in?
        .slds-trial-header.slds-grid#services-header
          .slds-text-align_center.slds-text-heading_large.slds-col.slds-size_1-of-4
            %strong Solarwinds ITSM Services
            %div#services{authenticityToken: @auth_token.to_json, availableServices: @available_services.to_json}
              =yield
      -else
        =yield